* {
  box-sizing: border-box;
}

:root {
  --border: pink;
  --headings: #C4778A;
  --text: #C4778A;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: rgb(224, 195, 200);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.underline {
  border-bottom: 3px rgb(208, 104, 120) solid;
}

/* header and nav section */

header {
  background-color: #d2879a;
  height: 110px;
}

header h1 span {
  background-color: white;
  padding: 10px;
  position: relative;
  top: 20px;
  margin-left: 20px;
  border: var(--border) solid 5px;
  border-radius: 10px;
  color: var(--headings);
}

nav ul {
  list-style-type: none;
  text-align: right;
  padding-right: 60px;
  margin-top: -5px;
}

nav ul li {
  display: inline;
  font-size: large;
  margin-right: 10px;
}

/* hero section */

.hero-banner {
  background-image: url(../images/heroimage.jpg); height: 200px; 
  position: relative;
  top: -16px;
}

.subtitle h2 span {
  position: relative;
  top: 140px;
  left: 1250px; 
  background-color: white;
  padding: 10px;
  border: var(--border) solid 5px;
  border-radius: 15px;
  color: var(--headings);
}

/* main section */

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.page-section h2 {
  display: inline-block;
  font-size: 50px;
  margin-left: 140px;
  color: var(--headings);
  border-right: 5px var(--headings) solid;
  padding: 20px;
  float: left;
  margin-top: 40px;
  text-align: center;
  line-height: 1.0;
}

.page-section p {
  color: var(--text);
  margin: 20px;
  position: relative;
  top: 20px;
  left: 20px;
  padding-right: 150px;
  font-size: 20px;
  padding-top: 22px;
}

#wordOne::after {
  content: "\a";
  white-space: pre;
}

#about h2 {
  position: relative;
  padding: 40.8px;
}

#work h2 {
  position: relative;
  padding: 50px;
}

/* work section */ 

#workGrid {
  margin: 40px;
  position: relative;
  padding-left: 100px;
  display: grid;
  grid-template-columns: 340px 340px;
  grid-template-rows: 300px 200px 200px;
  grid-template-areas: "projectOne projectOne"
  "projectTwo projectThree"
  "projectFour projectFive";
}

#projectOne {
  grid-area: projectOne;
  background-image: url(../images/02-portfolio-1.jpg);
  border-radius: 7px;
  transition: all 0.5s ease-in-out;
  opacity: 0.5;
}

#projectOne:hover {
  box-shadow: inset 0px 0px 20px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
  opacity: 1; 
}

#projectTwo {
  grid-area: projectTwo;
  background-image: url(../images/02-portfolio-2.jpg);
  transition: all 0.5s ease-in-out;
  opacity: 0.5;
}

#projectTwo:hover {
  box-shadow: inset 0px 0px 20px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
  opacity: 1; 
}

#projectThree {
  grid-area: projectThree;
  background-image: url(../images/02-portfolio-3.jpg);
  transition: all 0.5s ease-in-out;
  opacity: 0.5;
}

#projectThree:hover {
  box-shadow: inset 0px 0px 20px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
  opacity: 1; 
}

#projectFour {
  grid-area: projectFour;
  background-image: url(../images/02-portfolio-3.jpg);
  transition: all 0.5s ease-in-out;
  opacity: 0.5;
}

#projectFour:hover {
  box-shadow: inset 0px 0px 20px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
  opacity: 1; 
}

#projectFive {
  grid-area: projectFive;
  background-image: url(../images/02-portfolio-4.jpg);
  transition: all 0.5s ease-in-out;
  opacity: 0.5;
}

#projectFive:hover {
  box-shadow: inset 0px 0px 20px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
  opacity: 1; 
}

.workGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
  border: 5px solid #C4778A;
}

.heading span {
  position: relative;
  bottom: 30px;
  background-color: #C4778A;
  height: 25px;
  color: white;
  font-size: 18px;
  padding-bottom: 30px;
  display: inline-block;
}

/* contact section */

#contact ul {
  list-style-type: none;
}

#contact ul li {
  display: inline;
  font-size: 20px;
  position: relative;
  margin-left: 50px;
  left: 180px;
  top: 80px;
}