* {
  box-sizing: border-box;
}

:root {
  --border: pink;
  --headings: #C4778A;
  --text: #C4778A;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: rgb(224, 195, 200);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

/* header and nav section */

header {
  background-color: #C4778A;
  height: 110px;
}

header h1 span {
  background-color: white;
  padding: 10px;
  position: relative;
  top: 20px;
  margin-left: 20px;
  border: var(--border) solid 5px;
  border-radius: 10px;
  color: var(--headings);
}

ul {
  list-style-type: none;
  text-align: right;
  padding-right: 60px;
  margin-top: -5px;
}

nav ul li {
  display: inline;
  font-size: large;
  margin-right: 10px;
}

.underline {
  border-bottom: 3px pink solid;
}

/* hero section */

.hero-banner {
  background-image: url(../images/heroimage.jpg); height: 200px; 
  position: relative;
  top: -16px;
}

.subtitle h2 span {
  position: relative;
  top: 140px;
  left: 1250px; 
  background-color: white;
  padding: 10px;
  border: var(--border) solid 5px;
  border-radius: 15px;
  color: var(--headings);
}

/* main section */

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.page-section h2 {
  display: inline-block;
  font-size: 50px;
  margin-left: 140px;
  color: var(--headings);
  border-right: 5px var(--headings) solid;
  padding: 20px;
  float: left;
  margin-top: 40px;
  text-align: center;
  line-height: 1.0;
}

.page-section p {
  color: var(--text);
  margin: 20px;
  position: relative;
  top: 20px;
  left: 20px;
  padding-right: 150px;
}

#wordOne::after {
  content: "\a";
  white-space: pre;
}

#about h2 {
  position: relative;
  padding: 40.8px;
}

#work h2 {
  position: relative;
  padding: 50px;
}

/* work section */ 
